# Executables
gilmour

# Compile redirection file
src/*.o

# CTAGS
tags

#db dir
/db

#nemo benchmark
benchmark/nemo_benchmark/db/
benchmark/nemo_benchmark/benchmark

#blackwidow benchmark
benchmark/blackwidow_benchmark/db/
benchmark/blackwidow_benchmark/benchmark
