[submodule "third/leveldb"]
	path = third/leveldb
	url = https://github.com/Axlgrep/leveldb.git
[submodule "benchmark/nemo_benchmark/deps/nemo"]
	path = benchmark/nemo_benchmark/deps/nemo
	url = https://github.com/Qihoo360/nemo.git
[submodule "benchmark/blackwidow_benchmark/deps/blackwidow"]
	path = benchmark/blackwidow_benchmark/deps/blackwidow
	url = https://github.com/Axlgrep/blackwidow.git 
[submodule "benchmark/blackwidow_benchmark/deps/rocksdb"]
	path = benchmark/blackwidow_benchmark/deps/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "benchmark/nemo_benchmark/deps/rocksdb"]
	path = benchmark/nemo_benchmark/deps/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "benchmark/nemo_benchmark/deps/nemo-rocksdb"]
	path = benchmark/nemo_benchmark/deps/nemo-rocksdb
	url = https://github.com/Qihoo360/nemo-rocksdb.git
[submodule "benchmark/blackwidow_benchmark/deps/slash"]
	path = benchmark/blackwidow_benchmark/deps/slash
	url = https://github.com/Qihoo360/slash.git
